@model List<TaskList.Models.Task>
@{
    ViewData["Title"] = "TaskList";
}

<div class="taskList">
    <h1 align = "center">Task list</h1>
    <table width="100%" border="1">
        <tr>
            <th class="text-center">Description</th>
            <th class="text-center">Date</th>
            <th class="text-center">Done</th>
        </tr>
        @using(Html.BeginForm("DeleteTask", "Home"))
        {
            @foreach (var task in Model)
            {
                <tr>
                    <td class="text-center">@task.Description</td>
                    <td class="text-center">@task.ExpectedDate</td>
                    <td class="text-center"><input type="checkbox"></td>
                    <td class="text-center">
                        <button type="submit" name="delete" value="@task.Id">delete</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>

