@model List<TaskList.Models.Task>
@{
    ViewData["Title"] = "TaskList";
}


<div class="task-list">
    <h1 align = "center">Task list</h1>
    <table width="100%" border="1">
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Done</th>
        </tr>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Description</td>
                <td>@task.ExpectedDate</td>
                <td><input type="checkbox"></td>
                <td>
                    <button class="delete-task" data-id="@task.Id">delete</button>
                    <button class="add-edit" data-id="@task.Id">edit</button>
                </td>
            </tr>
        }
    </table>
</div>

<button class="add-edit" type="button" data-id="0">Add task</button>

<div class="modal fade" id="addEditModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="description" class="col-form-label">Description:</label>
                    <textarea class="form-control" id="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="expected-date" class="col-form-label">Expected date:</label>
                    <input type="date" class="form-control" id="expected-date" />                    
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button">Save</button>
                <button type="button">Close</button>
            </div>
        </div>
    </div>
</div>