@model List<TaskList.Models.Task>
@{
    ViewData["Title"] = "TaskList";
}


<div class="task-list">
    <h1 align = "center">Task list</h1>
    <table width="100%" border="1">
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Done</th>
        </tr>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Description</td>
                <td>@task.ExpectedDate</td>
                <td><input type="checkbox"></td>
                <td>
                    <button class="delete-task" data-id="@task.Id">delete</button>
                    <button class="edit-task" data-id="@task.Id">edit</button>
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @using(Html.BeginForm("AddTask", "Home"))
    {        
        <button class="button-add" type="submit">Add task</button>
    }
</div>